# packages:
#   yum:
#     monit: []

# files:
#   "/etc/monit.d/resque_worker":
#     mode: "000644"
#     owner: root
#     group: root
#     content: |
#       check process resque_worker_QUEUE
#         with pidfile /var/app/resque_worker_QUEUE.pid
#         start program = "/bin/sh -l -c 'cd /var/app/current; nohup rake environment resque:work QUEUE=* VERBOSE=1 PIDFILE=/var/app/resque_worker_QUEUE.pid >> log/resque_worker_QUEUE.log 2>&1'" as uid webapp and gid webapp
#         stop program = "/bin/sh -c 'cd /var/app/current && kill -9 $(cat tmp/pids/resque_worker_QUEUE.pid) && rm -f /var/app/resque_worker_QUEUE.pid; exit 0;'"
#         if totalmem is greater than 300 MB for 10 cycles then restart  # eating up memory?
#         group resque_workers

# commands:
#   remove_bak:
#     command: "rm /etc/monit.d/resque_worker.bak"
#     ignoreErrors: true

# service:
#   sysvinit:
#     monit:
#       ensureRunning: true
#       enabled: true
container_commands:
  01fix_perms:
    command: sudo chown -R webapp:webapp /var/app/current
  02resque:
    command: bundle exec rake resque:restart_workers
#    ignoreErrors: true
# commands:
#   01updateComposer:
#     command: export HOME=/home/ec2-user
#   02create_post_dir:
#     command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
#     ignoreErrors: true
# option_settings:
#   - namespace: aws:elasticbeanstalk:application:environment
#     option_name: HOME
#     value: /home/ec2-user
# files:
#   "/opt/elasticbeanstalk/hooks/appdeploy/post/99_restart_resque.sh":
#     mode: "000755"
#     owner: root
#     group: root
#     content: |
#       #!/usr/bin/env bash
#       # . /opt/elasticbeanstalk/support/envvars
#       cd /var/app/current
#       sudo chown -R webapp:webapp .
#       # bundle exec rake resque:restart_workers
#       su -c "RAILS_ENV=$RACK_ENV bundle exec rake resque:restart_workers" $EB_CONFIG_APP_USER
