/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body { height: 100%; margin: 0; padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  background: url('background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header, footer {
  display: block;
  color: #44DAA9;
  margin-top:10px;
}

header > img, header > h1 {
  display: inline-block;
  line-height: 130px;
  vertical-align: middle;
}

.icon {
  margin-left: -15px;
}

.logo {
  position: relative;
  top: -7px;
  height: 30px;
}


.container {
  width: 95%;
  height: 100%;
  position:relative;
  margin: auto;
}

header {
  position:absolute;
  top:10px;
  left:0;
  right:0;
  height:115px;
  /*background-color:red;*/
}

.users {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  padding-right: 0;
}

.users > .user {
  display: inline-block;
  margin-left: 10px;
  width: 56px;
  height: 56px;
  border-radius: 28px;
  background: white;
}

.column {
  border-right: 1px solid;
  width: 25%;
  position:absolute;
  top:0;
  bottom:0;
  color: white;
  transition: all 500ms;
  -webkit-transition: all 500ms;

  perspective: 2000px;
  transform-style: preserve-3d;

  -webkit-transform-origin: 100% 0%;

  transform: rotateY( 90deg );
  opacity: 0;
}

.column.show, .more.show {
  opacity: 1;
  transform: rotateY( 0deg );
}

.more {
  transition: all 500ms;
  -webkit-transition: all 500ms;

  perspective: 2000px;
  transform-style: preserve-3d;

  -webkit-transform-origin: 100% 0%;

  transform: rotateY( -90deg );
  opacity: 0;
}

.more .data {
  margin-top: 10px;
  margin-bottom: 30px;
}

.content {
  width:100%;
  position:absolute;
  top:115px;
  bottom:100px;
}

.column > .header, .column .data {
  color: white;
  padding: 10px;
  float: right;
  width: 50%;
}

.column > .data {
  margin-top: 10px;
}

.card > .header {
  color: white;
  font-size: 24px;
  line-height: 32px;
  border-radius: 3px 3px 0 0;
  padding: 10px;
}

.card > .body {
  border-radius: 0 0 3px 3px;
  padding: 10px 20px;
  font-size:14px;
  line-height:24px;
  color: black;
  background: white;
}

.card > .body .body-wrapper {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow:hidden;
}

.twitter {
  color: #55acee;
  left:0px;
}

.twitter > .header {
  background: #55acee url('twitter.png') no-repeat;
  background-position: center right 10px;
}

.twitter .data {
  background: #55acee;
}

.twitter .card > .header {
  background: rgba(85, 172, 238, 0.7)
}

.twitter .body {
  height:72px;
}
.twitter .body .bold {
  padding-top:10px;
}
.twitter .description {
  background-color:#fff;
  color:#000;
}

.twitter .more .cards {
  width: 370px;
  margin: 20px 40px;
}

.twitter .card-half:nth-child(2n) {
  margin-left: 30px;
}

.twitter .card-half {
  display: inline-block;
  margin-bottom: 30px;
  .top {
    display: block;
    width: 168px;
    height: 168px;
    position: relative;
    background-color: rgba(255, 255, 255, .7);
    img {
      position: absolute;
      width: 168px;
      height: 168px;
      opacity: .7;
      z-index: 5;
    }
    .name {
      position: absolute;
      font-size: 24px;
      color: #fff;
      bottom: 10px;
      left: 10px;
      z-index: 10;
    }
  }

  .bottom {
    width: 168px;
    padding-top: 10px;
    padding-bottom: 10px;
    // padding: 15px 20px 20px 20px;
    background-color: #fff;
    color: #000;
    font-size: 14px;

    .handle, .followers {
      padding-left: 20px;
      padding-right: 20px;
    }

    .followers {
      width: 128px;
      // width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .handle {
      font-size: 14px;
      color: #53A8E9;
      line-height: 24px;
    }
  }
}

.github {
  color: white;
  left:25%;
}

.github > .header {
  color: black;
  background: white url('octocat.png') no-repeat;
  background-position: center right 10px;
}

.github .data {
  color: black;
  background: white;
}

.github .card > .header {
  color: black;
  background: rgba(255,255,255,0.7);
}

.events {
  color: #D51C5B;
  left:50%;
}

.events > .header {
  background: #D51C5B url('events.png') no-repeat;
  background-position: center right 10px;
}

.events .sub-header {
  background-color:#fff;
  color:#000;
  padding:10px 20px;
  font-size:14px;
  border-bottom:1px solid #dbdbdb;
  line-height:24px;
}

.events > .data {
  background: #D51C5B;
}

.events .cards .card .header {
  background-color: rgba(213, 28, 91, .69);
}

.events .cards .card:first-child .header {
  background-image: url('events-placeholder.jpg');
  background-size:100% auto;
  padding-top:50px;
}

.news {
  color: #44DAA9;
  left:75%;
}

.news > .header {
  background: #44DAA9 url('news.png') no-repeat;
  background-position: center right 10px;
}

.news > .data {
  background: #44DAA9;
}

.column .cards {
  margin-top: 120px;
  clear: both;
}

.card {
  margin: 20px 40px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

.card > .header > .source {
  font-size: 16px;
}

.card > .header > .source::before {
  content: "- ";
}

.github .card .body, .twitter .card .body {
  padding: 0px;
  padding-left: 18px;
  height: 72px;
  font-size: 14px;
  line-height: 25px;
}

.github .card .bold {
  padding-top: 10px;
}

.profile {
  float: right;
  width: 72px;
  height: 72px;
  border-bottom-right-radius: 3px;
}

.star, .repoStars {
  display: inline-block;
  padding-top: 10px;
}

.repoStars {
  position: relative;
  top: -2px;
}

.bold {
  font-weight: bold;
}

.description {
  display: none;
  position: relative;
  top: -3px;
  border-top: 1px solid rgba(0,0,0,0.12);
  background: white;
  color: black;
  padding: 13px 15px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.description.show {
  display: block;
}

/*.twitter .card > .body  > .subody{
  border-top:1px solid #e3dcd7;
  line-height:20px;
  height:72px;
}*/

/*.twitter .card > .body  > .subody > .info{
padding:15px;
line-height:24px;
float:left;
}

.twitter .card > .body  > .subodyI{
  border-top:1px solid #e3dcd7;
  padding: 10px;
  padding-left:20px;
  line-height:26px;
  height:26px;
}*/

.adweek {background: rgba(0, 0, 0, 0.7)}
.andreessen-horowitz {background: rgba(232, 113, 76, 0.7)}
.animal {background: rgba(254, 233, 74, 0.7)}
.ars-technica {background: rgba(253, 65, 27, 0.7)}
.avc {background: rgba(25, 72, 152, 0.7)}
.bbc {background: rgba(156, 0, 7, 0.7)}
.brain-pickings {background: rgba(255, 218, 69, 0.7)}
.coding-horror {background: rgba(0, 0, 0, 0.7)}
.creative-applications {background: rgba(0, 0, 0, 0.7)}
.fast-company {background: rgba(0, 0, 0, 0.7)}
.five-thirty-eight {background: rgba(243, 110, 68, 0.7)}
.gigaom {background: rgba(0, 157, 249, 0.7)}
.google-analytics-blog {background: rgba(255, 186, 60, 0.7)}
.google-ventures-library {background: rgba(255, 186, 60, 0.7)}
.ideo-labs {background: rgba(152, 163, 163, 0.7)}
.journalists-resource {background: rgba(161, 1, 20, 0.7)}
.mit-technology-review {background: rgba(0, 0, 0, 0.7)}
.mlwave {background: rgba(0, 0, 0, 0.7)}
.new-york-times {background: rgba(255, 255, 255, 0.7)}
.nieman-journalism-lab {background: rgba(193, 90, 110, 0.7)}
.official-google-blog {background: rgba(255, 186, 60, 0.7)}
.pandodaily {background: rgba(41, 73, 85, 0.7)}
.plausible-thought {background: rgba(69, 169, 202, 0.7)}
.quartz {background: rgba(0, 0, 0, 0.7)}
.subtraction-com {background: rgba(242, 117, 64, 0.7)}
.the-atlantic {background: rgba(255, 255, 255, 0.7)}
.the-guardian {background: rgba(0, 75, 127, 0.7)}
.the-new-yorker {background: rgba(255, 255, 255, 0.7)}
.the-next-web {background: rgba(255, 51, 41, 0.7)}
.the-verge {background: rgba(253, 68, 51, 0.7)}
.way-out {background: rgba(255, 255, 255, 0.7)}
.yahoo-tech {background: rgba(47, 18, 79, 0.7)}
.platform-thinking {background: rgba(230, 65, 31, 0.7)}
.the-media-briefing { color:#000 !important; background: rgba(229, 243, 246, 0.7)}
.medium {color:#000 !important; background: rgba(255, 255, 255, 0.7)}
.project-syndicate {background: rgba(0, 0, 0, 0.7)}
.wired {background: rgba(0, 0, 0, 0.7)}
.vice {background: rgba(0, 0, 0, 0.7)}
.hacker-news {background: rgba(255, 97, 34, 0.7)}
.new-statesman {background: rgba(198, 2, 47, 0.7)}
.nature {background: rgba(167, 19, 38, 0.7)}
.scientific-american {background: rgba(134, 23, 27, 0.7)}
.schneier-on-security {background: rgba(255, 255, 255, 0.7)}
.the-economist {background: rgba(230, 0, 23, 0.7)}
.nasa {background: rgba(17, 64, 144, 0.7)}
.aeon-magazine {background: rgba(0, 91, 107, 0.7)}
.time {background: rgba(236, 0, 20, 0.7)}
.forbes {background: rgba(0, 0, 0, 0.7)}

