/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body { height: 100%; margin: 0; padding: 0; }

html {
	font-family: 'Roboto', sans-serif;
	background: url('background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header, footer {
	display: block;
	color: #44DAA9;
}

header > img, header > h1 {
	display: inline-block;
	line-height: 130px;
	vertical-align: middle;
}

.logo {
	position: relative;
	top: -7px;
	height: 30px;
}


.container {
	width: 95%;
	height: 100%;
	position:relative;
	margin: auto;
}

header {
	position:absolute;
	top:10px;
	left:0;
	right:0;
	height:115px;
	/*background-color:red;*/
}


.column {
	border-right: 1px solid;
	width: 25%;
	position:absolute;
	top:0;
	bottom:0;
	color: white;
}

.content { 
	width:100%;
	position:absolute;
	top:115px;
	bottom:200px;
}

.column > .header {
	color: white;
	padding: 10px;
	float: right;
	width: 50%;
}

.twitter {
	color: #55acee;
	left:0px;
}

.twitter > .header {
	background: #55acee url('twitter.png') no-repeat;
	background-position: center right 10px;
}

.github {
	color: white;
	left:25%;
}

.github > .header {
	color: black;
	background: white url('octocat.png') no-repeat;
	background-position: center right 10px;
}

.events {
	color: #D51C5B;
	left:50%;
}

.events > .header {
	background: #D51C5B url('events.png') no-repeat;
	background-position: center right 10px;
}

.news {
	color: #44DAA9;
	left:75%;
}

.news > .header {
	background: #44DAA9 url('events.png') no-repeat;
	background-position: center right 10px;
}

.cards {
	margin-top: 100px;
}

.card {
	margin: 40px;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.4);
}

.card > .header {
	color: white;
	font-size: 20px;
	border-radius: 3px 3px 0 0;
	background: rgba(44,170,224,0.5);
	padding: 10px;
}

.card > .body {
	border-radius: 0 0 3px 3px;
	padding: 10px;
	color: black;
	background: white;
}