<div class="container">
    <header class="header">
        <%= image_tag "logo.png", class: 'icon' %>
        <%= image_tag "ohheylogo.png", class: "logo" %>
    </header>
    <div class="users"></div>
    <section class="content">
        <div class="twitter column">
            <div class="header">Twitter</div>
            <div class="data">Your Profiles</div>
            <div class="cards"></div>
            <div class="more">
              <div class="data">You Both Follow</div>
              <div class="cards"></div>
            </div>
        </div>
        <div class="github column">
        	<div class="header">Github</div>
        	<div class="data">Your Profiles</div>
            <div class="cards"></div>
            <div class="more">
            	<div class="data">Mutual Repos</div>
            	<div class="cards"></div>
            </div>
        </div>
        <div class="events column">
        	<div class="header">Events</div>
        	<div class="data">@CampusLondon for you</div>
          <div class="cards"></div>
        </div>
        <div class="news column">
        	<div class="header">News</div>
        	<div class="data"></div>
          <div class="cards"></div>
        </div>
    </section>
</div>
<script type="text/template" id="news-item">
	<div class="card">
		<div class="header {{=source_slug}}">
			{{=title}}
			<div class="source">{{=source}}, {{=date}}</div>
		</div>
		<div class="body">
			<div class="body-wrapper">{{=summary}}</div>
		</div>
	</div>
</script>
<script type="text/template" id="event-item">
  <div class="card" id="{{=id}}">
    <div class="header">
      {{=title}}
    </div>
    <div class="sub-header">
      {{=location}}
      <br/>
      {{=date}}
    </div>
    <div class="body">
      <div class="body-wrapper">{{=description}}</div>
    </div>
  </div>
</script>
<script type="text/template" id="github-profile-item">
	<div class="card">
		<div class="header">
			{{=name}}
		</div>
		<div class="body">
			<img class="profile" src="{{=image}}" />
			<div class="bold">{{=username}}</div>
			<div>{{=joined}}</div>
		</div>
	</div>
</script>
<script type="text/template" id="github-mutual-item">
	<div class="card">
		<div class="header">
			{{=repo}}
		</div>
		<div class="body">
			<%= image_tag "star.png", class: 'star' %>
			<div class="repoStars">{{=stars}}</div>
			<div>{{=updated}}</div>
		</div>
		<div class="description {{=show}}">{{=description}}</div>
	</div>
</script>
<script type="text/template" id="twitter-profile-item">
	<div class="card">
		<div class="header">
			{{=name}}
		</div>
		<div class="body">
			<img class="profile" src="{{=photo}}" />
			<div class="bold">@{{=handle}}</div>
			<div>FOLLOWERS: {{=followers}}</div>
		</div>
	</div>
</script>
<script type="text/template" id="twitter-mutual-item">
  <div class="card-half">
    <div class="top">
      <div class="name">{{=name}}</div>
      <img src="{{=photo}}">
    </div>
    <div class="bottom">
      <div class="handle">{{=handle}}</div>
      <div class="followers">FOLLOWERS: {{=followers}}</div>
    </div>
  </div>
</script>
