<div class="container">
    <header class="header">
        <%= image_tag "logo.png" %>
        <%= image_tag "ohheylogo.png", class: "logo" %>
    </header>
    <div class="users"></div>
    <section class="content">
        <div class="twitter column">
            <div class="header">Twitter</div>
            <div class="data">Your Profiles</div>
            <div class="cards"></div>
        </div>
        <div class="github column">
        	<div class="header">Github</div>
        	<div class="data">Your Profiles</div>
            <div class="cards"></div>
        </div>
        <div class="events column">
        	<div class="header">Events</div>
        	<div class="data">@CampusLondon for you</div>
            <div class="cards"></div>
        </div>
        <div class="news column">
        	<div class="header">News</div>
        	<div class="data"></div>
            <div class="cards"></div>
        </div>
    </section>
</div>
<script type="text/template" id="news-item">
	<div class="card">
		<div class="header">
			{{=title}}
			<div class="source">Source</div>
		</div>
		<div class="body">
			{{=summary}}
		</div>
	</div>
</script>