---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&include_rts=1&screen_name=maxnovakovic&since_id=558193998570217473&trim_user=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAO2MdgAAAAAAMTwnySuVXznDsBrCm7C6EgT3Qjc%3D5OoJbqCB5syKNEcBs5ma7AMTFQHziVAl3PlIz8r53Cbq27p7QX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 23 Jan 2015 23:35:10 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 56e5c4868fd4eb2ea9d4016694b37e34
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '272'
      X-Rate-Limit-Reset:
      - '1422056159'
      X-Response-Time:
      - '100'
      X-Transaction:
      - 3ce07264278da791
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Jan 23 23:34:17 +0000 2015","id":558769720090841090,"id_str":"558769720090841090","text":"Are
        we becoming too reliant on computers? http:\/\/t.co\/qpzubgZHDn","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14625054,"id_str":"14625054"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/qpzubgZHDn","expanded_url":"http:\/\/www.theguardian.com\/books\/2015\/jan\/17\/nicholas-carr-are-we-becoming-too-reliant-on-computers","display_url":"theguardian.com\/books\/2015\/jan\u2026","indices":[42,64]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}]'
  recorded_at: Fri, 23 Jan 2015 23:35:10 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.theguardian.com/books/2015/jan/17/nicholas-carr-are-we-becoming-too-reliant-on-computers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDo=
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain
      Status:
      - 401 Unauthorized
      Www-Authenticate:
      - Basic realm="Restricted Area"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 23 Jan 2015 23:35:11 GMT
recorded_with: VCR 2.9.3
