---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&include_rts=1&screen_name=maxnovakovic&trim_user=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAH9jdwAAAAAAR%2BgsANMrf09dBb2gDlpkqKpHzEY%3DeZaqzX7ieY8UuFH4zunfKodXnSJFahUWKLDnR8EW2h2qx3TKHf
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sat, 24 Jan 2015 17:06:35 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - a9ece4fc709e7c607a66cd77f062ef65
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '298'
      X-Rate-Limit-Reset:
      - '1422120064'
      X-Response-Time:
      - '46'
      X-Transaction:
      - e3f9df2d519db353
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Fri Jan 23 23:34:17 +0000 2015","id":558769720090841090,"id_str":"558769720090841090","text":"Are
        we becoming too reliant on computers? http:\/\/t.co\/qpzubgZHDn","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14625054,"id_str":"14625054"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/qpzubgZHDn","expanded_url":"http:\/\/www.theguardian.com\/books\/2015\/jan\/17\/nicholas-carr-are-we-becoming-too-reliant-on-computers","display_url":"theguardian.com\/books\/2015\/jan\u2026","indices":[42,64]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Thu
        Jan 22 09:26:34 +0000 2015","id":558193998570217473,"id_str":"558193998570217473","text":"Real
        life ad blocker http:\/\/t.co\/2aGQcyHEqt","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1462505[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.theguardian.com/books/2015/jan/17/nicholas-carr-are-we-becoming-too-reliant-on-computers
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://jonathandub.in/cognizance/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: 'getaddrinfo: Name or service not known'
  recorded_at: Sat, 24 Jan 2015 17:06:56 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://vimeo.com/116582567
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        1 week ago
        / via Dropbox All Audiences
        These 3D printed sculptures, called aniforms, are designed to animate when spun under a strobe light. The placement of the appendages is determined by the same method nature uses in pinecones and sunflowers.  The rotation speed is synchronized to the strobe so that one flash occurs every time the sculpture turns 137.5º—the golden angle. If you count the number of spirals on any of these sculptures you will find that they are always Fibonacci numbers.
        For this video, rather than using a strobe, the camera was set to a very short shutter speed (1/4000 sec) in order to freeze the spinning sculpture.
        John Edmark is an inventor/designer/artist. He teaches design at Stanford University.
        Visit John's website here: web.stanford.edu/~edmark/
        and Vimeo site: vimeo.com/johnedmark/videos

  recorded_at: Sat, 24 Jan 2015 17:06:56 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.forbes.com/sites/sarahjeong/2015/01/14/the-dhs-agent-who-infiltrated-silk-road-to-take-down-its-kingpin/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
     [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://thejumbuckisalmostextinct.com/2009/12/cookies-by-douglas-adams/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Sam[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.seriouseats.com/2014/10/how-to-make-rich-flavorful-easy-chicken-stock.html
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://plus.google.com/110199856631914548293/about
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        +49 30 62845471
        Italian Restaurant, Pizza RestaurantToday 5:00 pm – 12:00 am
        Monday 5:00 pm – 12:00 amTuesday 5:00 pm – 12:00 amWednesday 5:00 pm – 12:00 amThursday 5:00 pm – 12:00 amFriday 5:00 pm – 12:00 amSaturday 5:00 pm – 12:00 amSunday 5:00 pm – 12:00 am
        Business listings provided by GelbeSeiten®Verlagen
        Google+ URL

  recorded_at: Sat, 24 Jan 2015 17:06:59 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.reviewmylife.co.uk/blog/2014/12/22/high-speed-mandm-sorting-machine/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
  [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://tnw.co/1GHaiHP
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Follow
        When we last caught up with Seedcamp [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://irsh.us/1whlgRM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        The weather bomb  Record breaking winds and severe [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://soundcloud.com/mermaidsmha/night-walkin
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Your current browser isn't compatible with SoundCloud.
        Please download one of our supported browsers. Need help?

  recorded_at: Sat, 24 Jan 2015 17:07:02 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=EWEl8-PHhMI
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Submarine Sandwich by PES
    [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://thenextweb.com/boost/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        WeTransfer
        Vote to get your favourite startup on stage at #TNWUSA
        As part of our early stage startup program Boost, 50 promising companies have been selected to show the world what they've been working on at TNW Conference USA in New York . Help choose which 15 startups will be allowed to pitch in front of a jury. Who would you like to see on stage?

  recorded_at: Sat, 24 Jan 2015 17:07:03 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://soundcloud.com/jackmaster/jackmaster-mastermix-2014
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Your current browser isn't compatible with SoundCloud.
        Please download one of our supported browsers. Need help?

  recorded_at: Sat, 24 Jan 2015 17:07:03 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://muyueh.com/greenhoney/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |2+

  recorded_at: Sat, 24 Jan 2015 17:07:09 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.theawl.com/2014/11/how-to-draw-people-on-the-subway
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        How to Draw People on the Subway
        Step One: Disappear.

  recorded_at: Sat, 24 Jan 2015 17:07:09 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://wwwwwwwwwwwwwwwwwwwwww.bitnik.org/r/
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Random Darknet Shopper (2014)[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=Hcqs5z0yEl4
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Papa was a Rolling Stone The Temptations (Full Version)
        Want to watch this again later?
        Sign in to add this video to a playlist.
        Need to report the video?
        Sign in to report inappropriate content.
        Ratings have been disabled for this video.
        Rating is available when the video has been rented.
        This feature is not available right now. Please try again later.
        Published on Jul 20, 2012
        The Temptations
        Papa was a Rolling Stone(Full Version)     russell887
        Music

  recorded_at: Sat, 24 Jan 2015 17:07:10 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=dpKL1hvTsUM
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        吉村弘 Hiroshi Yoshimura / A・I・R Air In Resort  FOREST SIDE 2
        Want to watch this again later?
        Sign in to add this video to a playlist.
        Need to report the video?
        Sign in to report inappropriate content.
        Ratings have been disabled for this video.
        Rating is available when the video has been rented.
        This feature is not available right now. Please try again later.
        Published on Jul 28, 2012
        吉村弘 Hiroshi Yoshimura / A・I・R Air In Resort  FOREST SIDE 2
        Category
        Play next
        Play now
        Play next
        Play now
        Play next
        Play now

  recorded_at: Sat, 24 Jan 2015 17:07:10 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: 'bad URI(absolute but no path): http://'
  recorded_at: Sat, 24 Jan 2015 17:07:10 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://underscorejs.org/%23groupBy
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Collection Functions (Arrays or Objects)
        each_.each(list, iteratee, [context]) Alias: forEach
        Iterates over a list of elements, yielding each in turn to an iteratee function. The iteratee is bound to the context object, if one is         passed. Each invocation of iteratee is called with three arguments: (element, index, list). If list is a JavaScript object, iteratee's         arguments will be (value, key, list). Returns the list for chaining.
        _.each([1, 2, 3], alert); => alerts each number in turn... _.each({one: 1, two: 2, three: 3}, alert); => alerts each number value in turn...
        Note: Collection functions work on arrays, objects, and           arraylike objects such as arguments, NodeList and similar. But it works by ducktyping, so avoid passing objects with           a numeric length property. It's also good to note that an each loop cannot be broken out of — to break, use _.find instead.
        map_.map(list, iteratee, [context]) Alias: collect
        Produces a new array of values by mapping each value in list through a transformation function (iteratee). If list is a J[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=X_DVS_303kQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Goodbye Horses  Q Lazzarus
   [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=6dYQNlWQ4UY
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        BICEP | LYK LYK
        Want to watch this again later?
        Sign in to add this video to a playlist.
        Need to report the video?
        Sign in to report inappropriate content.
        Ratings have been disabled for this video.
        Rating is available when the video has been rented.
        This feature is not available right now. Please try again later.
        Published on Sep 9, 2014
        PREORDER:

  recorded_at: Sat, 24 Jan 2015 17:07:12 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=4DgbUBoxa48
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Kevin!
        Want to watch this again later?
        Sign in to add this video to a playlist.
        Need to report the video?
        Sign in to report inappropriate content.
        Ratings have been disabled for this video.
        Rating is available when the video has been rented.
        This feature is not available right now. Please try again later.
        Uploaded on Apr 29, 2009
        Home Alone. Kevin Scream.
        Play next
        Play now
        Play next
        Play now
        Play next
        Play now
        Play next
        Play now
        Play next
        Play now

  recorded_at: Sat, 24 Jan 2015 17:07:13 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=v4sDiCKdZ4M
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Clap! Clap!  "Kuj Yato" (Offic[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://medium.com/re-form/what-the-flag-says-6b48ef093e6f
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        The author chose to make this story unlisted, which means only people with a link can see it. Are you sure you want to share it?
        Yes, show me sharing options
        What the Flag Says

  recorded_at: Sat, 24 Jan 2015 17:07:15 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://github.com/programa-stic/snapchat-decrypt
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Support for Snapchat las[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://iquantny.tumblr.com/post/99544282749/found-the-manhattan-apartment-thats-the-farthest-from
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        I Quant NY
        Found: The Manhattan Apartment that’s the Farthest from any Subway
        If there is one thing I learned while living on the Upper East Side many years ago, it’s that York Avenue is quite a hike from the subway (at least as far as hikes from subways in Manhattan go). That fact can sometimes help keep housing prices down, at least until the 2nd Avenue Line comes in.
        All that hiking got me wondering: What residential building in Manhattan is farthest from a subway station entrance?  Is it in t[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://huff.to/1slf0bb
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        At a Glance: What Apple Watch Means for Typography
        Posted:
        By Danielle Reid
        Apple's mobile screens have been steadily increasing in size before our eyes. While plenty of attention has been given to the camera quality, sharp resolution, and bendability of the iPhone 6 and 6 Plus, perhaps it's time we shift our focus on what is to come. In 2015, the world will meet Apple's smallest interface: the yettobenamed, custom typeface for the Apple Watch.
        Our addiction to staying connected is about to spread to our wrists, bringing with it[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=http://www.tfl.gov.uk/campaign/new-tube-for-london
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 500 Internal Server Error
    body:
      encoding: UTF-8
      string: 404 => Net::HTTPNotFound for http://www.tfl.gov.uk/campaign/new-tube-for-london
        -- unhandled response
  recorded_at: Sat, 24 Jan 2015 17:07:46 GMT
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://www.youtube.com/watch?v=PPQrNkOgttQ
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        Making japanese food samples
 [...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://github.com/Swordfish90/cool-retro-term
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        coolretroterm
        Descr[...]
- request:
    method: get
    uri: https://document-parser.lateral.io/boilerpipe/?url=https://vid.me/VFj
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Basic bGF0ZXJhbDpZP3hiajIqNDIjZUAjYTk3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |+
        This video has been suspended either due to a copyright claim, or for breaching the terms of use .
        Don Hertzfeldt Couch Opening

  recorded_at: Sat, 24 Jan 2015 17:07:48 GMT
recorded_with: VCR 2.9.3
