---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/user_timeline.json?count=50&include_rts=1&screen_name=maxnovakovic&trim_user=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAAO2MdgAAAAAAMTwnySuVXznDsBrCm7C6EgT3Qjc%3D5OoJbqCB5syKNEcBs5ma7AMTFQHziVAl3PlIz8r53Cbq27p7QX
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 23 Jan 2015 23:32:14 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - d7ff3b243de91339f017ae9387865ecc
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Remaining:
      - '276'
      X-Rate-Limit-Reset:
      - '1422056159'
      X-Response-Time:
      - '123'
      X-Transaction:
      - 9e5b779e77b5e014
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '[{"created_at":"Thu Jan 22 09:26:34 +0000 2015","id":558193998570217473,"id_str":"558193998570217473","text":"Real
        life ad blocker http:\/\/t.co\/2aGQcyHEqt","source":"\u003ca href=\"https:\/\/about.twitter.com\/products\/tweetdeck\"
        rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":14625054,"id_str":"14625054"},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":1,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/2aGQcyHEqt","expanded_url":"http:\/\/jonathandub.in\/cognizance\/","display_url":"jonathandub.in\/cognizance\/","indices":[21,43]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},{"created_at":"Sat
        Jan 17 19:27:04 +0000 2015","id":556533179734294528,"id_str":"556533179734294528","text":"These
        3D printed spinning sculptures are fantastic, hypnotic http:\/\/t.co\/th9TD4AL3K","source":"\u003ca
        href=\"https:\/\/about.twitter.com\/products\/tweetdeck\" rel=\"nofollow\"\u003eTweetDeck\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_t[...]
